
/*for map*/
body {
  padding: 0;
  margin: 0;
}
html, body, #map {
  height: 100vh;
  /* width: 100vw; */
}
.logo {
  position: absolute;
  z-index: 99999999;
  left: 0;
  top: -5px;
  height: 70px;
  margin-left: -28px;
}
.logo:hover {
  cursor: pointer;
}